

.pagination__interface{
    display: flex;
    justify-content: center;
    a {color:$black;}
}


.pagination__previous{
    border-top-left-radius: 15.25rem !important;
    border-bottom-left-radius: 15.25rem !important;
    color:$nickel  !important;
    &--hover:hover{
        color:$white !important;
        background-color: $black;

    }
}
.pagination__number{

    &--hover:hover{
        color:$white !important;
        background-color: $black;
    }
}

.pagination__next{
    border-top-right-radius: 15.25rem !important;
    border-bottom-right-radius: 15.25rem !important;
    &--hover:hover{
        color:$white !important;
        background-color: $black;
    }
}